.DS_Store

*.nds
*.elf
*.img
*.map
*.pal
*.sav

build/

1-dream/
2-spiders/
3-path/
sint/
angel/models/angel-lo.blend
angel/models/angel-lo.blend1
angel/models/angel.blend
angel/models/angel.blend1



**/*.blend
**/*.blend1

nitrofiles/*

!nitrofiles/delete.me